/Case.class
/Configuration.class
/Diamant.class
/Direction.class
/Element.class
/Immobile.class
/Joueur.class
/Mobile.class
/Mur.class
/Niveau.class
/Policier.class
/Position.class
/TestNiveaux.class
/MainTest.class
/Type.class
